In [1]:
i=1
while i <= 10:
	print(i)
	i +=1

1
2
3
4
5
6
7
8
9
10

In [4]:
num = int(input("enter a number:"))
print(f"multiplication table of {num}:")
for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

enter a number: 9

multiplication table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [1]:
rows = 5
for i in range(1,rows + 1):
    print(" " + "*" * i )

 *
 **
 ***
 ****
 *****

In [4]:
fruits=["apple","orange","mango","grapes","kiwi"]
for fruit in fruits:
    print(fruit)

apple
orange
mango
grapes
kiwi

In [5]:
students= {"Alice":85,
           "Bob":90,
           "Charlie":78}
for name, marks in students.items():
    print(f"{name} scored {marks} marks")

Alice scored 85 marks
Bob scored 90 marks
Charlie scored 78 marks

In [6]:
even_numbers = (2, 4, 6, 8, 10)
print("The third item is:", even_numbers[2])

The third item is: 6

In [7]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print("Unique items in the set:", unique_numbers)

Unique items in the set: {1, 2, 3, 4, 5}

In [8]:
text = "PythonProgramming"

# Print the first 6 characters
print("First 6 characters:", text[:6])

# Print the last 6 characters
print("Last 6 characters:", text[-6:])

# Print every second character
print("Every second character:", text[::2])

# Reverse the string
print("Reversed string:", text[::-1])

First 6 characters: Python
Last 6 characters: amming
Every second character: PtoPormig
Reversed string: gnimmargorPnohtyP

In [9]:
squares = [x**2 for x in range(1, 11)]
print("Squares from 1 to 10:", squares)

Squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
evens = [x for x in range(1, 51) if x % 2 == 0]
print("Even numbers from 1 to 50:", evens)

Even numbers from 1 to 50: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [11]:
words = ["apple", "banana", "grape", "strawberry", "kiwi", "pineapple"]
long_words = [word for word in words if len(word) > 5]
print("Strings longer than 5 characters:", long_words)

Strings longer than 5 characters: ['banana', 'strawberry', 'pineapple']

In [16]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [17]:
print(is_prime(7))
print(is_prime(10))

True
False

In [18]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

In [19]:
print(factorial(5))

120

In [20]:
def sum_list(lst):
    return sum(lst)

In [21]:
numbers = [1, 2, 3, 4, 5]
print(sum_list(numbers))

15

In [22]:
# 1. Define the class
class Student:
    
    # 2. Constructor to initialize name and grade
    def __init__(self, name, grade):
        self._name = name
        self._grade = grade

    # 3. Getter for name
    def get_name(self):
        return self._name

    # Setter for name
    def set_name(self, name):
        self._name = name

    # Getter for grade
    def get_grade(self):
        return self._grade

    # Setter for grade
    def set_grade(self, grade):
        self._grade = grade

# 4. Create two student objects
student1 = Student("Alice", "A")
student2 = Student("Bob", "B+")

# Print their details using getters
print("Student 1: Name =", student1.get_name(), ", Grade =", student1.get_grade())
print("Student 2: Name =", student2.get_name(), ", Grade =", student2.get_grade())

Student 1: Name = Alice , Grade = A
Student 2: Name = Bob , Grade = B+